@import url("https://fonts.googleapis.com/css?family=Cabin|Open+Sans|Rufina");
body {
    height:50%;
    background-color: #444444;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hiddenDiv {
    display: none;
    text-align:center;
}

.jumbotron, .button {
    height: 10em;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    text-align: center;
    background-color: #444444;
    color: white;
}

.animate {
    position: relative;
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 1s;

}

@-webkit-keyframes animate {
    from { bottom: -100px; opacity: 0}
    to { bottom: 0px; opacity:1 }
}

@keyframes animate {
    from { bottom: -100px; opacity: 0 }
    to { bottom: 0; opacity: 1 }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #444444;
    border-radius: 50%;
    border-top: 16px solid #03DAC6;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}