{% load static %}
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content = "IE-Edge">
<meta name="viewport" content="width = device-width, inital-scale=1">
<title>Health Tracker - Homepage</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Google fonts embedded in css-->
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'healthTrackerApp/homepage.css' %}">
    <script src="{% static 'healthTrackerApp/mealFoodDrinkList.js' %}"></script>
{% endblock %}

</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-header">
                <a class="navbar-brand" style="font-size: 24px" href="#">Health Tracker Web</a>
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav mr-auto d-mr-block justify-group-right">
                    <li>
                        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" href="{% url 'exercise' %}">Active Exercise Detail</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-item nav-link" href="{% url 'meal' %}">Meal Calorie Detail</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" href="{% url 'groups' %}">Groups</a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-secondary" onclick="darkMode()">Toggle Light/Dark Mode</button>
            {% if request.user.is_authenticated%}
                <a class="btn btn-primary btn-lg justify-content-right" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="btn btn-primary btn-lg justify-content-right" href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'meal' %}">Meal Calorie Detail</a></li>
            <li class="breadcrumb-item active" aria-current="page">Food Drink Items List</li>
        </ol>

        </nav>
    </div>
    <div class="container">
        <div class="title d-block jumbotron jumbotron-fluid">
            <h2 class="display-4">Food Drink Items List</h2>
        </div>
        <!-- Food Item table list showing all food list items - this shows in the dropdown list-->
        <div class="row">
            <div class="col col-lg-8">
            <div class="table-responsive">
                <table class="table">
                    <thead class = "thead-dark">
                        <tr>
                            <th style="width: 20%">Food Drink Name</th>
                            <th style="width: 20%">Carbohydrates (g)</th>
                            <th style="width: 20%">Protein (g)</th>
                            <th style="width: 20%">Fats (g)</th>
                            <th style="width: 20%">Calories (cal)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in food %}
                        <tr>
                            <td>{{ item.foodName }}</td>
                            <td>{{ item.carbohydrates }}</td>
                            <td>{{ item.protein }}</td>
                            <td>{{ item.fats }}</td>
                            <td>{{ item.calories }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
            <div class="col col-lg-4 justify-content-center">
                <h2 class=".ListTitle">New Meal Item Form</h2>
                <hr/>
                <!-- New food item entry form - to know the statistics of each food item (e.g. carbohydrates, fats, protein and calories) -->
                <form action="{% url 'mealItem' %}" method="post" id="foodDrinkItemForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="foodName">Name of Food/Drink:</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="foodName" required>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="carbohydrates">Carbohydrates (g): </label>
                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" name="carbohydrates" step=".01" required>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="protein">Protein (g): </label>
                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" name="protein" step=".01" required>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="fats">Fats (g): </label>
                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" name="fats" step=".01" required>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="calories">Calories (g):</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" name="calories" min="1" step="1" required>
                        </div>
                    </div>
                    <hr/>



                    {% for list in food %}
                    <p>
                        {% if list.help_text %}
                            <p style="color: red;"> {{ list.help_text }}</p>
                        {% endif %}

                        {% for error in list.errors %}
                          <p style="color: red;"> {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    </p>

                    {% if food.non_field_errors %}
                    <div style="color:red;">
                        <p>{{ food.non_field_errors }}</p>
                    </div>
                    {% endif %}

                {% if foodDrinkFrm.non_field_errors %}
                    <div style="color:red;">
                        <p>{{ foodDrinkFrm.non_field_errors }}</p>
                    </div>
                {% endif %}

                    <div class="row">
                        <div class="container">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" href="#">Add new food item</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>